body{
        background: #589ed9;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    
}
.form{
 
    margin: auto;
    margin-top: 180px;
    width: 300px;
    text-align: center;
}
.logo{
    font-size: 50px;
    color: white;
}
.heading{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: white;
}

    
    
    

#inputs input

{
    font-family: 'Open Sans', sans-serif;
    border: none;
    
    
    margin: 0px;
    padding: 0px;
    outline: none;
    width: 100%;
    text-indent: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#inputs input[type="password"]{
    border-top: 1px solid #ccc;
    border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}    
#inputs input[type="email"]{
    border-top-left-radius: 8px;
	border-top-right-radius: 8px;     
}
