body{
        background: #589ed9;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    
}
.form{
 
    margin: auto;
    margin-top: 200px;
    width: 300px;
    text-align: center;
}
.logo{
    font-size: 50px;
    color: white;
}
.heading{
    font-size: 10px;
    color: white;
}
.inputs{
    background-color: white;
    
}
.inputs input[type="email"],
.inputs input[type="password"]
{
    border: 0px;
    margin: 0px;
    padding: 0px;
    outline: none;
    width: 100%;
}